*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,
body {
height: 100%;
width: 100%;
}
#loader{
    height: 100%;
    width: 100%;
    z-index: 999;
    position: fixed;
    background-color: #0B0B0B;
    padding: 25vh 10vw;
}
.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0 2.5vw;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#line1-part1 h5 , #line1-part1 h6{
    font-size: 4vw;
    font-weight: 100;
    font-style: italic;
    font-family: serif;
}
#line1-part1 h5{
    width: 5vw;
    text-align: right;
}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 500;
    
   
}
.line h2{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 700;
    font-style: oblique;
}
#main{
    position: relative;
    background-color: #1111;
}
#page1{
     height: 100vh;
     width: 100%;
     background-color: #151515;
}