@font-face {
  font-family: silk;
  src: url(vertopal.com_silkserif-regularitalic-webfont.ttf);
}
@font-face {
  font-family: plain;
  src: url(vertopal.com_plain-light-webfont.ttf);
}

@font-face {
  font-family: regular;
  src: url(vertopal.com_plain-regular-webfont.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
#crsr {
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  position: fixed;
  border: 2px solid #ffffffbe;
  z-index: 9999;
  mix-blend-mode: difference;
  transform: translate(-50%,-50%);
}
#loader {
  height: 100%;
  width: 100%;
  z-index: 999;
  position: fixed;
  background-color: #000000;
  padding: 25vh 10vw;
}
.line {
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0 2.5vw;
}
#line1-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
#line1-part1 h5,
#line1-part1 h6 {
  font-size: 4vw;
  font-weight: 100;
  font-style: italic;
  font-family: serif;
}
#line1-part1 h5 {
  width: 5vw;
  text-align: right;
}
.line h1 {
  font-size: 6.5vw;
  text-transform: uppercase;
  font-weight: 500;
}
.line h2 {
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes anime {
  0% {
    font-family: "plain", sans-serif;
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
  48% {
    font-family: "plain";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }

  50% {
    font-family: "silk";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
  100% {
    font-family: "silk";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
}

#main {
  overflow: hidden;
  position: relative;
  background-color: #050505;
}
#page1 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
}
#page1 #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.3vw 5.5vw;
}
#nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}
#nav-part2 h4 {
  font-size: 1.2vw;
  font-weight: 100;
  text-transform: capitalize;
}
.hero {
  width: 72%;
  margin-left: 27%;
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 999;
}
.hero:nth-child(2) {
  margin-top: 18vh;
}
.hero h1 {
  font-size: 7.2vw;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 7vw;
}
.hero h2,h3 {
  font-size: 7.2vw;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 7vw;
}

.hero h2:hover{
 -webkit-text-stroke: 2px #f1f1f1;
 color: transparent;
 font-weight: 500;
}