@font-face {
  font-family: silk;
  src: url(vertopal.com_silkserif-regularitalic-webfont.ttf);
}
@font-face {
  font-family: plain;
  src: url(vertopal.com_plain-light-webfont.ttf);
}

@font-face {
  font-family: regular;
  src: url(vertopal.com_plain-regular-webfont.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}
#crsr {
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  position: fixed;
  border: 2px solid #ffffffbe;
  z-index: 9999;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
}
#loader {
  height: 100%;
  width: 100%;
  z-index: 999;
  position: fixed;
  background-color: #000000;
  padding: 25vh 10vw;
}
.line {
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0 2.5vw;
}
#line1-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
#line1-part1 h5,
#line1-part1 h6 {
  font-size: 4vw;
  font-weight: 100;
  font-style: italic;
  font-family: serif;
}
#line1-part1 h5 {
  width: 5vw;
  text-align: right;
}
.line h1 {
  font-size: 6.5vw;
  text-transform: uppercase;
  font-weight: 500;
}
.line h2 {
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes anime {
  0% {
    font-family: "plain", sans-serif;
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
  48% {
    font-family: "plain";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }

  50% {
    font-family: "silk";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
  100% {
    font-family: "silk";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
}

#main {
  position: relative;
  background-color: #050505;
}
#page1 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
}
#page1 #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.3vw 5.5vw;
}
#nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}
#nav-part2 h4 {
  font-size: 1.2vw;
  font-weight: 100;
  text-transform: capitalize;
}
.hero {
  width: 72%;
  margin-left: 27%;
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 999;
}
.hero:nth-child(2) {
  margin-top: 18vh;
}
.hero h1 {
  font-size: 7.2vw;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 7vw;
}
.hero h2 {
  font-size: 7.2vw;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 7vw;
  border-bottom: 0.5vw solid white;
  /* padding-bottom: 0.8vw;
 transition: all ease 0.3s; */
}

.hero h2:hover {
  -webkit-text-stroke: 2px #f1f1f1;
  color: transparent;
  font-weight: 500;
  border-bottom: 0.5vw solid rgba(255, 255, 255, 0);
}

#page2 {
  height: 100vh;
  width: 100%;
  padding-top: 17vh;
  position: relative;
}
#video-container img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  top: 0;
}
#video-container {
  height: 66vh;
  width: 71vw;
  position: relative;
  left: 28%;
  background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
}
#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#video-cursor {
  background-color: #ffa63d;
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  left: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
#video-cursor i {
  font-size: 2vw;
}

#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: gray;
  position: relative;
}

#page4 {
  min-height: 100vh;
  width: 100%;
  padding-top: 5vh;
  position: relative;
}
#page4-content {
  width: 72vw;
  margin-left: 28%;
  position: relative;
}
#page4-content h1 {
  font-size: 7vh;
  text-transform: uppercase;
}
#page4-content .underline {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin: 5vw 0;
}
#page4-content > p {
  font-size: 2.05vw;
  width: 50%;
  margin-bottom: 3vw;
}

#page4-flex {
  display: flex;
}
#page4-flex img {
  width: 48%;
}
#page4-flex p {
  width: 19%;
  margin-left: 1vw;
  font-size: 0.9vw;
}

#page4-blue-div{
   background-color: #3F7DF4;
   width: 33vw;
   padding:  3vw;
   position: relative;
   margin-top: -35vh;
   margin-left: 26vw;

}
.blue-div-elem{
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   padding: 1.2vw 0;
   border-bottom: 2px solid #ffffffb8;
}
.blue-div-elem h4{
  font-size: 1.4vw;
  font-weight: 500;
}
.blue-div-elem p{
  font-size: 0.9vw;
  width: 50%;
}
#page5{
  min-height: 100vh;
  width: 100%;
}